* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(234, 255, 239);
}
p{
    color: black;
  margin: 0;
  text-indent: 3ch;
  margin-bottom: 2em;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#acf5c2;
}
/* Menu - Header - NavBar */
header {
    display:flex;
    justify-content: space-around;
    width: 100%;
    height: 8.5vh;
    background-color: #25302b;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu {
    background-color: #25302b;
    height: 90%;
    padding: 5px;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}
.menu .list-itens {
    display: flex;
    list-style: none;
    gap: 180px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #25302b;
}
.menu .list-itens a {
    text-decoration: none;
    /*text-decoration: underline overline;
    text-decoration-color:rgb(44, 41, 218);
    color: rgb(0, 0, 0);*/
    padding: 1rem;
    position: relative;
    background-color: #25302b;
}
.menu .list-itens a:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: 20%;  
    left: 20%;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.menu .list-itens a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(../imagem/capa/8.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content h1
{
    position: relative;
    text-shadow: 5px 5px 10px #000000;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
}
.titulo1 {
    align-items: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 10px;
}
#sobre {
    background-color: #bffcdf;
    height: 20vh;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 2000px;
    margin:0 auto;
    padding: 0px 0px 0px ;
    padding-top: 30px;
}
.t1{
    text-align: center;
    color: #000;
    font-size: 50px;
}
.t2{
    text-align: center;
    color: #000;
    font-size: 50px;
}
.t3{
    text-align: center;
    color: #000;
    font-size: 50px;
}
.sobre_med{
    left: 10px;
    text-align: center;
    color: black;
    font-size: 20px;
}
.caracteristicas{
    text-align: center;
    color: black;
    font-size: 20px;
}
.diadia{
    text-align: center;
    color: black;
    font-size: 20px;
}
.sobreimg{
    background-color: #000;
    background-image:  url(../imagem/capa/4.png);
    background-position: center center;
    justify-content: center;
    width: 70vh;
    height: 50vh;
    display: flex;
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}
#curso{
    background-color: #0f331f;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.titulo2{
    font-size: 60px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.sobre_curso{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}
.titulo3{
    font-size: 40px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}
.faculdade_curso{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 20px;
}
#carrosel{
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.carrosel .fotos{
    width: 500%;
    animation: animacao 6s linear infinite;
}

@keyframes animacao{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
    100%{margin-left: -400%;}
}
